[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"moto" = "*"
"requests-mock" = "*"

[packages]
"boto3" = "*"
"requests" = "*"

[requires]
python_version = "3"
